@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'sans-seriff';
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    
}

.container {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 2px 10px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form {
    padding: 10px 50px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control label {
    color: gray;
    display: block;
}

.form-control input {
    border: 5px solid lightgray;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 1px;
    font-size: 14x;
    
}

.form-control input:focus {
    outline: 0;
    border-color: gray;
}

.form-control.success input {
    border-color: green;
}

.form-control.error input {
    border-color: red;
}

.form-control small {
    color: red;
    position: absolute;
    visibility: hidden;
}

.form-control.error small {
    visibility: visible;
}

.form button {
    color: whitesmoke;
    background-color: blue;
    border: 2px solid blue;
    border-radius: 4px;
    margin-top: 3px;
    padding: 1px;
    width: 100%;
    display: block;
    cursor: grab;
}


.form a {
    color: whitesmoke;
}